<!DOCTYPE html>
<html lang="sk">
<head>
  <meta charset="UTF-8">
  <title>Potvrdenie o zhodnotení odpadu</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 40px;
    }
    h1 {
      text-align: center;
      margin-bottom: 30px;
    }
    .section-title {
      font-weight: bold;
      margin-top: 20px;
      text-decoration: underline;
    }
    .info-block {
      margin-bottom: 20px;
    }
    .footer {
      margin-top: 40px;
    }
  </style>
</head>
<body>

  <h1>Potvrdenie o zhodnotení odpadu</h1>

  <div class="info-block">
    <span class="section-title">Vydané pre:</span>
    <p>
      <strong>Pôvodca odpadu:</strong> <br>
      Sídlo dodávateľa: <br>
      Štatutárny zástupca: <br>
      IČO:
    </p>
  </div>

  <div class="info-block">
    <span class="section-title">Údaje o zhodnocovanom odpade a spôsobe zhodnocovania:</span>
    <p>
      <strong>Komodita:</strong> biologicky rozložiteľný kuchynský odpad <br>
      <strong>Katalógové číslo odpadu:</strong> 20 01 08 <br>
      <strong>Množstvo:</strong> <br>
      <strong>Spôsob zhodnotenia odpadu:</strong> R3 <br>
      <strong>Stručný popis spôsobu zhodnotenia:</strong> drtenie, miešanie, hygienizácia <br>
      <strong>Čas zhodnotenia odpadu:</strong> 
    </p>
  </div>

  <div class="info-block">
    <span class="section-title">Potvrdzovateľ:</span>
    <p>
      Silver Mine PLUS s.r.o., Kvašov č.43, 020 62 <br>
      <strong>IČO:</strong> 55 598 439<br>
      <strong>Tel.:</strong> 0908 704 423<br>
      <strong>E-mail:</strong> <a href="mailto:firma@silvermine.sk">firma@silvermine.sk</a>
    </p>
  </div>

  <div class="info-block">
    <span class="section-title">Rozhodnutie orgánu štátnej správy</span>
    <p>
      v zmysle zákona č.79/2015 o odpadoch v znení neskorších predpisov<br>
      <strong>Vydal:</strong> Okresný úrad Púchov<br>
      <strong>Dňa:</strong> <br>
      <strong>Číslo rozhodnutia:</strong> OU-PU-OSZP-2023/001461-005-ZG-9
    </p>
  </div>

  <div class="info-block">
    <span class="section-title">Zhodnotenie uskutoční:</span>
    <p>
      INTA s.r.o., Rybárska 758/18, 911 01 Trenčín<br>
      <strong>IČO:</strong> 34 129 863
    </p>
  </div>

  <div class="info-block">
    <span class="section-title">Prevádzka:</span>
    <p>
      INTA-BRO, Veľké Bierovce, areál BPS Veľké Bierovce, č.p. 470/16, 913 11 Trenčianske Stankovce<br>
      <strong>Úradné číslo:</strong> INTP-TN 05 SK
    </p>
  </div>

  <div class="footer">
    <p>
      V Kvašove 15.02.2024<br>
      Silver Mine PLUS s.r.o.<br>
      Boris Ondráško<br>
      konateľ spoločnosti
    </p>
  </div>

</body>
</html>
