<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .center {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .medium {
            font-size: 16px;
        }
        .bordered {
            border: 1px solid #ddd;
            padding: 8px;
            margin-bottom: 20px;
        }
        .float-left {
            float: left;
        }
        .float-right {
            float: right;
        }
        .centered {
            text-align: center;
        }
        .half-width {
            width: 50%;
            float: left;
        }
        .right-align {
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="center">Obchodný doklad / Zberný list pre vedľajšie živočíšne produkty</h2>
        <table>
            <tbody>
                <tr>
                    <td><strong>ID:</strong> {{ archive_records[0] }}</td>
                    <td><strong>Dátum:</strong> {{ archive_records[1] }}</td>
                    <td><strong>Číslo dokladu:</strong> {{ archive_records[2] }}</td>
                </tr>
                <!-- Tu budú údaje z databázy -->
                <tr>
                    <td colspan="3">
                        <div class="bordered">
                            <p class="medium"><strong>Prepravovaný materiál:</strong> Vedľajšie živočíšne produkty - materiál kat. 3 (neurčený pre ľudskú spotrebu)</p> <!-- <p class="medium"><strong>Prepravovaný materiál:</strong> {{ archive_records[6] }}</p> -->
                            <p class="medium"><strong>Názov odpadu:</strong> {{ archive_records[7] }}</p>
                            <p class="medium"><strong>Množstvo:</strong> {{ archive_records[10] }} Kg</p>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="3">
                        <div class="bordered">
                            <p class="medium"><strong>Odovzdávajúci: </strong> {{ archive_records[3] }} </p>
                            <p class="medium"><strong>Prepravca: </strong> {{ archive_records[4] }}</p>
                            <p class="medium"><strong>Preberajúci: </strong> {{ archive_records[5] }}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="3">
                        <div class="bordered">
                            <p class="medium"><strong>Meno a priezvisko prepravcu: </strong> {{ archive_records[8] }}</p>
                            <p class="medium"><strong>EČV: </strong> {{ archive_records[9] }}</p>
                            {% if "Silver Mine, s.r.o" in archive_records[4] %}
                                <p class="medium"><strong>Registračné číslo ŠVPS: </strong> COLTR33PU-SK</p>
                            {% elif "Silver Mine PLUS, s.r.o." in archive_records[4] %}
                                <p class="medium"><strong>Registračné číslo ŠVPS: </strong> COLTR152PU-SK</p>
                            {% endif %}
                        </div>
                    </td>
                    
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="3">
                        <div class="half-width">
                            <p class="medium float-left">Prevzal: {{ records }}</p>
                            <p class="medium centered">Odovzdal: {{ records }}</p>
                            {% if 'Silver Mine PLUS, s.r.o., Kvašov 43, 020 62 Kvašov, IČO: 55598439' in archive_records[4] %}
                                <img src="{{ url_for('static', filename='images/plus.png') }}" alt="Obrázok">
                            {% elif 'Silver Mine, s.r.o, Kvašov 43, 020 62 Kvašov, IČO: 47 204 788' in archive_records[4] %}
                                <img src="{{ url_for('static', filename='images/silver.png') }}" alt="Obrázok">
                            {% endif %}
                        </div>
                            {% if 'Silver Mine PLUS, s.r.o., Kvašov 43, 020 62 Kvašov, IČO: 55598439' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/plus.png') }}" alt="Obrázok">
                            {% elif 'Základná škola s materskou školou Pod hájom - MŠ' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/podhajom.png') }}" alt="Obrázok">
                            {% elif 'Základná škola s materskou školou Pod hájom - ZŠ' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/podhajom.png') }}" alt="Obrázok">
                            {% elif 'Základná škola s materskou školou Centrum I 32' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ci32.png') }}" alt="Obrázok">
                            {% elif 'Materská škola sv. Dominika Sávia' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/savia.png') }}" alt="Obrázok">
                            {% elif 'Materská škola Centrum I 29 v Dubnici nad Váhom' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ci29.png') }}" alt="Obrázok">
                            {% elif 'Materská škola Centrum II 72 v Dubnici nad Váhom' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/cii72.png') }}" alt="Obrázok">
                            {% elif 'Základná škola s materskou školou Hugolína Gavloviča' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/gavlovic.png') }}" alt="Obrázok">
                            {% elif 'IFULL s.r.o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ifull.png') }}" alt="Obrázok">
                            {% elif 'Lucia Vrtíková' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/luciav.png') }}" alt="Obrázok">
                            {% elif 'Základná škola s materskou školou Pavla Demitru - MŠ' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/msdemitru.png') }}" alt="Obrázok">
                            {% elif 'Základná škola s materskou školou Pavla Demitru - ZŠ' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/msdemitru.png') }}" alt="Obrázok">
                            {% elif 'Mesto Ilava MŠ Ilava' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/msilava.png') }}" alt="Obrázok">
                            {% elif 'Mesto Ilava MŠ Klobušice' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/msklobusice.png') }}" alt="Obrázok">
                            {% elif 'Jaroslav Hlavina' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/vegac.png') }}" alt="Obrázok">
                            {% elif 'Obec Červený Kameň' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ckamen.png') }}" alt="Obrázok">
                                {% elif 'Dobre a zdravo a.s.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/dobreazdravo.png') }}" alt="Obrázok">
                                {% elif 'Obec Horná Breznica' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/hbreznica.png') }}" alt="Obrázok">
                                {% elif 'Obec Lednica' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/lednica.png') }}" alt="Obrázok">
                                {% elif 'Obec Mikušovce' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mikusovce.png') }}" alt="Obrázok">
                                {% elif 'Obec Červený Kameň - MŠ' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/msckamen.png') }}" alt="Obrázok">
                                {% elif 'Obec Dolná Breznica - MŠ' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/msdbreznica.png') }}" alt="Obrázok">
                                {% elif 'Obec Dulov - MŠ' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/msdulov.png') }}" alt="Obrázok">
                                {% elif 'Materská škola Horovce' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/sjhorovce.png') }}" alt="Obrázok">
                                {% elif 'Obec Horovce' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/horovce.png') }}" alt="Obrázok">
                                {% elif 'Stredná odborná škola Pruské' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/sospruske.png') }}" alt="Obrázok">
                              <!--  {% elif 'eeeeeee' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/tuchyna.png') }}" alt="Obrázok">    TREBA DOKONCIT-->
                                {% elif 'Základná škola s materskou školou J. A. Komenského Lednica' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zslednica.png') }}" alt="Obrázok">
                                {% elif 'Základná škola s materskou školou Mikušovce' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zsmikusovce.png') }}" alt="Obrázok">
                                {% elif 'Obec Zubák' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zubak.png') }}" alt="Obrázok">
                                {% elif 'Centrum sociálnych služieb - AVE' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ave.png') }}" alt="Obrázok">
                                {% elif 'BALTYRE, s.r.o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/baltyre.png') }}" alt="Obrázok">
                                {% elif 'Obec Borčice' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/borcice.png') }}" alt="Obrázok">
                                {% elif 'ČSB, s.r.o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/csb.png') }}" alt="Obrázok">
                                {% elif 'CSS Lednické Rovne' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/csslr.png') }}" alt="Obrázok">
                                {% elif 'DANTEL s. r. o. - PIZZA DANTE' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/dantel.png') }}" alt="Obrázok">
                                {% elif 'DIMEC, s. r. o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/dimec.png') }}" alt="Obrázok">
                                {% elif 'Domov sociálnych služieb - Púchov - Nosice' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/dssnosice.png') }}" alt="Obrázok">
                                {% elif 'ELDISY Slovakia spol. s. r. o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/eldisy.png') }}" alt="Obrázok">
                                {% elif 'GOMS, spol. s r.o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/goms.png') }}" alt="Obrázok">
                                {% elif 'Základná škola, Janka Kráľa 1, Nová Dubnica' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/jkrala.png') }}" alt="Obrázok">
                                {% elif 'KOPEK plus s. r. o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/kopek.png') }}" alt="Obrázok">
                                {% elif 'REŠTAURÁCIA KOPYTO' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/kopyto.png') }}" alt="Obrázok">
                                {% elif 'Obec Košecké Podhradie' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/kpodhradie.png') }}" alt="Obrázok">
                                {% elif 'Obec Kvašov' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/kvasov.png') }}" alt="Obrázok">
                                {% elif 'Obec Dolné Kočkovce - MŠ' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mskockovce.png') }}" alt="Obrázok">
                                {% elif 'Základná škola s materskou školou Košecké Podhradie' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mskpodhradie.png') }}" alt="Obrázok">
                                {% elif 'Materská škola Lednické Rovne' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mslr.png') }}" alt="Obrázok">
                                {% elif 'Old School Inn, s.r.o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/oldschool.png') }}" alt="Obrázok">
                                {% elif 'Saday s. r. o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/saday.png') }}" alt="Obrázok">
                                {% elif 'SILVER Gastro s.r.o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/sgastro.png') }}" alt="Obrázok">
                                {% elif 'ŠKOLEX, spol. s. r. o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/skolex.png') }}" alt="Obrázok">
                                {% elif 'Centrum sociálnych služieb - SLOVEN' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/sloven.png') }}" alt="Obrázok">
                                {% elif 'Obec Streženice' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/strezenice.png') }}" alt="Obrázok">
                                {% elif 'Súkromná spojená škola Nová Dubnica' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/sukromnandca.png') }}" alt="Obrázok">
                                {% elif 'Základná škola Eduarda Schreibera - školská jedáleň' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zslr.png') }}" alt="Obrázok">
                                {% elif 'ZŠ s MŠ Streženice' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zsstrezenice.png') }}" alt="Obrázok">
                                {% elif 'Zariadenie pre seniorov Nová Dubnica' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zpsndca.png') }}" alt="Obrázok">
                                {% elif 'Sociálne služby mesta Trenčín, m.r.o. - Zariadenie pre seniorov' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ssmt.png') }}" alt="Obrázok">
                                {% elif 'Sociálne služby mesta Trenčín, m.r.o. - Zariadenie opatrovatelskej služby' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ssmt.png') }}" alt="Obrázok">
                                {% elif 'Sociálne služby mesta Trenčín, m.r.o. - Detské jasle' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/jasletn.png') }}" alt="Obrázok">
                                {% elif 'Smartfwd, s.r.o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/smart.png') }}" alt="Obrázok">
                                {% elif 'Základná škola, Kubranská 80, Trenčín' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/kubra.png') }}" alt="Obrázok">
                                {% elif 'Spojená škola sv. Jána Bosca' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/jbosca.png') }}" alt="Obrázok">
                                {% elif 'HEMIS Property s. r. o. - K dolnej stanici' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/hemis.png') }}" alt="Obrázok">
                                {% elif 'HEMIS Property s. r. o. - Jozefa Braneckého' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/hemis.png') }}" alt="Obrázok">
                                {% elif 'Geni loci, s. r. o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/geniloci.png') }}" alt="Obrázok">
                                {% elif 'Dobros s. r. o. - Trenčín' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/dobros.png') }}" alt="Obrázok">
                                {% elif 'Dobros s. r. o. - Púchov' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/dobros.png') }}" alt="Obrázok">
                                {% elif 'Relax centrum Lupena, JEMA spol. s.r.o., Domaniža' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/jema.png') }}" alt="Obrázok">
                                {% elif 'Senior Klub, n.o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/seniorklub.png') }}" alt="Obrázok">
                                {% elif 'STREET FOOD PU s.r.o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/streetpu.png') }}" alt="Obrázok">
                                {% elif 'ALEXANDRA HOTEL, s. r. o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/alexhotel.png') }}" alt="Obrázok">
                                {% elif 'Vojtech Šimor - Burger Corner Považská Bystrica' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/burgercorner.png') }}" alt="Obrázok">
                                {% elif 'Centrum sociálnych služieb - BYSTRIČAN' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/bystrican.png') }}" alt="Obrázok">
                                {% elif 'ONE TRUST PLUS, s.r.o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/csgas.png') }}" alt="Obrázok">
                                {% elif 'GACO services s. r. o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/gaco.png') }}" alt="Obrázok">
                                {% elif 'HUBERTUS n.o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/hubertuspu.png') }}" alt="Obrázok">
                                {% elif 'JuSi, Považská Bystrica' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/jusi.png') }}" alt="Obrázok">
                                {% elif 'K.M.O. Slovakia s. r. o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/kmo.png') }}" alt="Obrázok">
                                {% elif 'Lucia Paliesková - LUCY cafe' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/luci.png') }}" alt="Obrázok">
                                {% elif 'Alexandra Pluskotová - Pizzeria Luigis' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/luigispb.png') }}" alt="Obrázok">
                                {% elif 'Lyo fit s. r. o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/lyopu.png') }}" alt="Obrázok">
                                {% elif 'MB FOOD, s.r.o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mb.png') }}" alt="Obrázok">
                                {% elif 'M.K.M gastro s. r. o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mkm.png') }}" alt="Obrázok">
                                {% elif 'Obec Nimnica' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/obecnimnica.png') }}" alt="Obrázok">
                                {% elif 'MŠ Nimnica' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/obecnimnica.png') }}" alt="Obrázok">
                                {% elif 'Ladislav Kožík' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/pizzapub.png') }}" alt="Obrázok">
                                {% elif 'Martin Ďurica - Pizzeria Fajn, Sverepec' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/pizzasverepec.png') }}" alt="Obrázok">
                                {% elif 'Miroslav Pojezdal' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/pojezdalpu.png') }}" alt="Obrázok">
                                {% elif 'Ľuboslava Bendžíková - Salaš Pov. Podhradie' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/povpodhradie.png') }}" alt="Obrázok">
                                {% elif 'PRIME RESTAURANT Púchov' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/prime.png') }}" alt="Obrázok">
                                {% elif 'Zina Markovičová - Salaš Nimnica' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/salaspu.png') }}" alt="Obrázok">
                                {% elif 'UNI - TECH, s. r. o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/unitech.png') }}" alt="Obrázok">
                                {% elif 'Zariadenie pre seniorov Považská Bystrica' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zpslanska.png') }}" alt="Obrázok">
                                {% elif 'Slovenská pošta a.s., Centrum vzdelávania Belušské Slatiny 90' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/posta.png') }}" alt="Obrázok">
                                {% elif 'Obec Zliechov - Škola' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zliechov.png') }}" alt="Obrázok">
                                {% elif 'Nikoleta Rónová, 03843 Kláštor pod Znievom A. Moyzesa 44/61, ČS ORLEN, Vážska 410, 020 01 Streženice, IČO 56220502' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/nronova.png') }}" alt="Obrázok">
                                {% elif 'Gastro Snack s.r.o.' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/gastrosnack.png') }}" alt="Obrázok">
                            {% else %}
                            {% endif %}
                        {% if archive_records[11] != '0' %}
                            <div class="half-width right-align">
                                <p class="medium"><strong>Počet nádob: </strong> {{ archive_records[11] }}</p>
                            </div>
                        {% endif %}
                    </td>
                                      
                </tr>
            </tbody>
        </table>
        
<!-- Tlačidlo na vytlačenie záznamu -->
<button class="no-print" onclick="printPage()">Vytlačiť záznam</button>

<script>
    function printPage() {
        window.print(); // Funkcia na vytlačenie obsahu stránky
    }
</script>