<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .center {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .medium {
            font-size: 16px;
        }
        .bordered {
            border: 1px solid #ddd;
            padding: 8px;
            margin-bottom: 20px;
        }
        .float-left {
            float: left;
        }
        .float-right {
            float: right;
        }
        .centered {
            text-align: center;
        }
        .half-width {
            width: 50%;
            float: left;
        }
        .right-align {
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="center">Obchodný doklad / Zberný list pre vedľajšie živočíšne produkty</h2>
        <table>
            <tbody>
                <tr>
                    <td><strong>ID:</strong> {{ archive_records[0] }}</td>
                    <td><strong>Dátum:</strong> {{ archive_records[1] }}</td>
                    <td><strong>Číslo dokladu:</strong> {{ archive_records[2] }}</td>
                </tr>
                <!-- Tu budú údaje z databázy -->
                <tr>
                    <td colspan="3">
                        <div class="bordered">
                            <p class="medium"><strong>Prepravovaný materiál:</strong> Vedľajšie živočíšne produkty - materiál kat. 3 (neurčený pre ľudskú spotrebu)</p> <!-- <p class="medium"><strong>Prepravovaný materiál:</strong> {{ archive_records[6] }}</p> -->
                            <p class="medium"><strong>Názov odpadu:</strong> {{ archive_records[7] }}</p>
                            <p class="medium"><strong>Množstvo:</strong> {{ archive_records[10] }} Kg</p>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="3">
                        <div class="bordered">
                            <p class="medium"><strong>Odovzdávajúci: </strong> {{ archive_records[3] }} </p>
                            <p class="medium"><strong>Prepravca: </strong> {{ archive_records[4] }}</p>
                            <p class="medium"><strong>Preberajúci: </strong> {{ archive_records[5] }}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="3">
                        <div class="bordered">
                            <p class="medium"><strong>Meno a priezvisko prepravcu: </strong> {{ archive_records[8] }}</p>
                            <p class="medium"><strong>EČV: </strong> {{ archive_records[9] }}</p>
                            {% if "Silver Mine, s.r.o" in archive_records[4] %}
                                <p class="medium"><strong>Registračné číslo ŠVPS: </strong> COLTR33PU-SK</p>
                            {% elif "Silver Mine PLUS, s.r.o." in archive_records[4] %}
                                <p class="medium"><strong>Registračné číslo ŠVPS: </strong> COLTR152PU-SK</p>
                            {% endif %}
                        </div>
                    </td>
                    
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="3">
                        <div class="half-width">
                            <p class="medium float-left">Prevzal: {{ records }}</p>
                            <p class="medium centered">Odovzdal: {{ records }}</p>
                            {% if 'Silver Mine PLUS, s.r.o., Kvašov 43, 020 62 Kvašov, IČO: 55598439' in archive_records[4] %}
                                <img src="{{ url_for('static', filename='images/plus.png') }}" alt="Obrázok">
                            {% elif 'Silver Mine, s.r.o, Kvašov 43, 020 62 Kvašov, IČO: 47 204 788' in archive_records[4] %}
                                <img src="{{ url_for('static', filename='images/silver.png') }}" alt="Obrázok">
                            {% endif %}
                        </div>
                            {% if 'Silver Mine PLUS, s.r.o., Kvašov 43, 020 62 Kvašov, IČO: 55598439' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/plus.png') }}" alt="Obrázok">
                            {% elif 'Základná škola s materskou školou Pod hájom - MŠ, Pod hájom 967, Dubnica nad Váhom, IČO: 35678119' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/podhajom.png') }}" alt="Obrázok">
                            {% elif 'Základná škola s materskou školou Pod hájom - ZŠ, Pod hájom 967, Dubnica nad Váhom, IČO: 35678119' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/podhajom.png') }}" alt="Obrázok">
                            {% elif 'Základná škola s materskou školou, Centrum I 32, Dubnica nad Váhom, IČO: 35678127' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ci32.png') }}" alt="Obrázok">
                            {% elif 'Materská škola sv. Dominika Sávia, Školská 386 Dubnica nad Váhom, IČO: 42378001' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/savia.png') }}" alt="Obrázok">
                            {% elif 'Materská škola Centrum I 29 v Dubnici nad Váhom, IČO: 37920332' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ci29.png') }}" alt="Obrázok">
                            {% elif 'Materská škola Centrum II 72 v Dubnici nad Váhom, IČO: 37920332' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/cii72.png') }}" alt="Obrázok">
                            {% elif 'Základná škola s materskou školou Hugolína Gavloviča, Školská 369 Pruské, IČO: 36124681' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/gavlovic.png') }}" alt="Obrázok">
                            {% elif 'IFULL s.r.o., Ľ. Štúra 373/6 Ilava, IČO: 47592257' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ifull.png') }}" alt="Obrázok">
                            {% elif 'Lucia Vrtíková, Centrum I 54/129 Ilava, IČO: 54908302' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/luciav.png') }}" alt="Obrázok">
                            {% elif 'Základná škola s materskou školou Pavla Demitru - MŠ, Centrum II 87, Dubnica nad Váhom, IČO: 31202284' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/msdemitru.png') }}" alt="Obrázok">
                            {% elif 'Základná škola s materskou školou Pavla Demitru - ZŠ, Centrum II 87, Dubnica nad Váhom, IČO: 31202284' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/msdemitru.png') }}" alt="Obrázok">
                            {% elif 'Mesto Ilava MŠ Ilava, Mierové námestie 16/31, IČO: 00317331' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/msilava.png') }}" alt="Obrázok">
                            {% elif 'Mesto Ilava MŠ Klobušice, Mierové námestie 16/31, IČO: 00317331' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/msklobusice.png') }}" alt="Obrázok">
                            {% elif 'Jaroslav Hlavina, Martina Rázusa 809/42, IČO: 51725738' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/vegac.png') }}" alt="Obrázok">
                            {% elif 'Obec Červený Kameň, Červený Kameň 226, IČO: 00317128' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ckamen.png') }}" alt="Obrázok">
                                {% elif 'Dobre a zdravo a.s., Vršatské Podhradie 86, IČO: 53155025' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/dobreazdravo.png') }}" alt="Obrázok">
                                {% elif 'Obec Horná Breznica, Horná Breznica 78, IČO: 00692352' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/hbreznica.png') }}" alt="Obrázok">
                                {% elif 'Obec Lednica, Lednica 232, IČO: 00317454' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/lednica.png') }}" alt="Obrázok">
                                {% elif 'Obec Mikušovce, Mikušovce 22, IČO: 00317527' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mikusovce.png') }}" alt="Obrázok">
                                {% elif 'Obec Červený Kameň - MŠ, Červený Kameň 226, IČO: 00317128' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/msckamen.png') }}" alt="Obrázok">
                                {% elif 'Obec Dolná Breznica - MŠ, Dolná Breznica 61, IČO: 00317144' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/msdbreznica.png') }}" alt="Obrázok">
                                {% elif 'Obec Dulov - MŠ, Dulov 168, IČO: 00317217' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/msdulov.png') }}" alt="Obrázok">
                                {% elif 'Materská škola Horovce, Horovce 79 020 62, IČO: 55620507' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/sjhorovce.png') }}" alt="Obrázok">
                                {% elif 'Obec Horovce, Horovce 94, 020 62, IČO: 00317306' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/horovce.png') }}" alt="Obrázok">
                                {% elif 'Stredná odborná škola Pruské, Pruské 294, IČO: 00159298' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/sospruske.png') }}" alt="Obrázok">
                                {% elif 'Materská škola Tuchyňa č. 104, 01855 Tuchyňa, IČO: 00317837' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/tuchyna.png') }}" alt="Obrázok">
                                {% elif 'Základná škola s materskou školou J. A. Komenského Lednica, Lednica 42, IČO: 36125571' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zslednica.png') }}" alt="Obrázok">
                                {% elif 'Základná škola s materskou školou Mikušovce, Mikušovce 16, IČO: 36124613' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zsmikusovce.png') }}" alt="Obrázok">
                                {% elif 'Obec Zubák, Zubák 164, IČO: 00317977' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zubak.png') }}" alt="Obrázok">
                                {% elif 'Centrum sociálnych služieb - AVE, Športovcov 671/23, Dubnica nad Váhom, IČO: 00632384' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ave.png') }}" alt="Obrázok">
                                {% elif 'BALTYRE, s.r.o., Slatinská 1710 018 61 Beluša, IČO: 36313947' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/baltyre.png') }}" alt="Obrázok">
                                {% elif 'Obec Borčice, Borčice 73, IČO: 00692310' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/borcice.png') }}" alt="Obrázok">
                                {% elif 'ČSB, s.r.o., Slatinská 1706 018 61 Beluša, IČO: 51739054' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/csb.png') }}" alt="Obrázok">
                                {% elif 'CSS Lednické Rovne, Medňanská 80/10, IČO: 00630250' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/csslr.png') }}" alt="Obrázok">
                                {% elif 'DANTEL s. r. o. - PIZZA DANTE, Farská 1048/9 018 61 Beluša, IČO: 44765355' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/dantel.png') }}" alt="Obrázok">
                                {% elif 'DIMEC, s. r. o., Nosice 226, IČO: 50442686' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/dimec.png') }}" alt="Obrázok">
                                {% elif 'Domov sociálnych služieb - Púchov - Nosice 57, IČO: 00628115' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/dssnosice.png') }}" alt="Obrázok">
                                {% elif 'ELDISY Slovakia spol. s. r. o., Ľ.Štúra 1, Dubnica nad Váhom, IČO: 36657000' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/eldisy.png') }}" alt="Obrázok">
                                {% elif 'GOMS, spol. s r.o., Továrenská 4416 020 01 Púchov - Horné Kočkovce, IČO: 36315541' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/goms.png') }}" alt="Obrázok">
                                {% elif 'Základná škola, Janka Kráľa 1, Nová Dubnica, IČO: 34057579' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/jkrala.png') }}" alt="Obrázok">
                                {% elif 'KOPEK plus s. r. o., Bernolákova 46 020 01 Dolné Kočkovce, IČO: 35781131' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/kopek.png') }}" alt="Obrázok">
                                {% elif 'REŠTAURÁCIA KOPYTO, Hviezdoslavova 183, 018 63 Ladce, Ing. Jozef Adamec, IČO: 47624876' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/kopyto.png') }}" alt="Obrázok">
                                {% elif 'Obec Košecké Podhradie, Košecké Podhradie 359, IČO: 00317870' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/kpodhradie.png') }}" alt="Obrázok">
                                {% elif 'Obec Kvašov, Kvašov 174, IČO: 00692387' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/kvasov.png') }}" alt="Obrázok">
                                {% elif 'Obec Dolné Kočkovce - MŠ, Školská 136, IČO: 00692328' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mskockovce.png') }}" alt="Obrázok">
                                {% elif 'Základná škola s materskou školou Košecké Podhradie, Košecké Podhradie 301, IČO: 37914782' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mskpodhradie.png') }}" alt="Obrázok">
                                {% elif 'Materská škola Lednické Rovne, Súhradka 204, IČO: 37914324' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mslr.png') }}" alt="Obrázok">
                                {% elif 'Old School Inn, s.r.o., Farská 1044 018 61 Beluša, IČO: 52701115' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/oldschool.png') }}" alt="Obrázok">
                                {% elif 'Saday s. r. o., kpt. Jaroša 1929/49 Púchov, IČO: 54261201' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/saday.png') }}" alt="Obrázok">
                                {% elif 'SILVER Gastro s.r.o., Lieskovec 847/124 018 41 Dubnica nad Váhom, IČO: 47212675' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/sgastro.png') }}" alt="Obrázok">
                                {% elif 'ŠKOLEX, spol. s r.o., Horárska 12 821 09 Bratislava, IČO: 31396763' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/skolex.png') }}" alt="Obrázok">
                                {% elif 'Centrum sociálnych služieb - SLOVEN, Slavnica 68, IČO: 00632406' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/sloven.png') }}" alt="Obrázok">
                                {% elif 'Obec Streženice, Školská 152, IČO: 00692336' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/strezenice.png') }}" alt="Obrázok">
                                {% elif 'Súkromná spojená škola Nová Dubnica, Ul.SNP 96/366, IČO: 36129046' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/sukromnandca.png') }}" alt="Obrázok">
                                {% elif 'Základná škola Eduarda Schreibera - školská jedáleň, Schreiberova 372, Lednické Rovne, IČO: 31202462' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zslr.png') }}" alt="Obrázok">
                                {% elif 'ZŠ s MŠ Streženice, Hlavná 83, IČO: 54625041' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zsstrezenice.png') }}" alt="Obrázok">
                                {% elif 'Zariadenie pre seniorov Nová Dubnica, Trenčianska 727/45, IČO: 17059186' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zpsndca.png') }}" alt="Obrázok">
                                {% elif 'Sociálne služby mesta Trenčín, m.r.o. - Zariadenie pre seniorov, Piaristická 42, IČO: 36124702' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ssmt.png') }}" alt="Obrázok">
                                {% elif 'Sociálne služby mesta Trenčín, m.r.o. - Zariadenie opatrovatelskej služby, Piaristická 42, IČO: 36124702' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ssmt.png') }}" alt="Obrázok">
                                {% elif 'Sociálne služby mesta Trenčín, m.r.o. - Detské jasle, Piaristická 42, IČO: 36124702' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/jasletn.png') }}" alt="Obrázok">
                                {% elif 'Smartfwd, s.r.o., Pod Sokolice 6673/1A Trenčín - Café Sládkovič - Mierové námestie 33/33, 911 01 Trenčín, IČO: 47591340' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/smart.png') }}" alt="Obrázok">
                                {% elif 'Základná škola, Kubranská 80, Trenčín, IČO: 31201431' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/kubra.png') }}" alt="Obrázok">
                                {% elif 'Spojená škola sv. Jána Bosca, Trenčianska 66/28 Nová Dubnica, IČO: 30414164' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/jbosca.png') }}" alt="Obrázok">
                                {% elif 'HEMIS Property s. r. o. - K dolnej stanici Trenčín, Kutlíkova 17, 852 50 Bratislava, IČO: 47673419' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/hemis.png') }}" alt="Obrázok">
                                {% elif 'HEMIS Property s. r. o. - Jozefa Braneckého Trenčín, Kutlíkova 17, 852 50 Bratislava, IČO: 47673419' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/hemis.png') }}" alt="Obrázok">
                                {% elif 'Geni loci, s. r. o., Palackého 7/87 911 01 Trenčín, IČO: 52791076' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/geniloci.png') }}" alt="Obrázok">
                                {% elif 'Dobros s. r. o. - Trenčín, Na kameni 1765/2, IČO: 51441519' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/dobros.png') }}" alt="Obrázok">
                                {% elif 'Dobros s. r. o. - Púchov' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/dobros.png') }}" alt="Obrázok">
                                {% elif 'Relax centrum Lupena, JEMA, spol. s. r. o., Domaniža 16, 018 16 Domaniža, IČO: 44675593' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/jema.png') }}" alt="Obrázok">
                                {% elif 'Senior Klub, n.o., Hoštinská 934 Púchov, IČO: 45740445' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/seniorklub.png') }}" alt="Obrázok">
                                {% elif 'STREET FOOD PU s.r.o., Moyzesova 1744/7 Púchov, IČO: 51743728' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/streetpu.png') }}" alt="Obrázok">
                                {% elif 'ALEXANDRA HOTEL, s. r. o., Dvory 581, 020 01 Púchov, IČO: 36845981' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/alexhotel.png') }}" alt="Obrázok">
                                {% elif 'Burger Corner Považská Bystrica - Vojtech Šimor, Štúrova 43/19 01701 Považská Bystrica, IČO: 41095499' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/burgercorner.png') }}" alt="Obrázok">
                                {% elif 'Centrum sociálnych služieb - BYSTRIČAN, Zakvášov 1935, 017 07 Považská Bystrica, IČO: 00632350' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/bystrican.png') }}" alt="Obrázok">
                                {% elif 'ONE TRUST PLUS, s.r.o., J. Kráľa 1112/53 Púchov, IČO: 36348988' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/csgas.png') }}" alt="Obrázok">
                                {% elif 'GACO services s. r. o., Besné 220 018 02 Dolná Mariková, IČO: 54348285' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/gaco.png') }}" alt="Obrázok">
                                {% elif 'HUBERTUS n.o., Trenčianska 452 Púchov, IČO: 45732281' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/hubertuspu.png') }}" alt="Obrázok">
                                {% elif 'JUSI, Centrum 1749/45, 01701 Považská Bystrica - Silvia Balážová, Mošteníkova 537/67, 01701 Považská Bystrica, IČO: 47738715' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/jusi.png') }}" alt="Obrázok">
                                {% elif 'K.M.O. Slovakia s. r. o., Robotnícka 4347 Považská Bystrica, IČO: 45427976' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/kmo.png') }}" alt="Obrázok">
                                {% elif 'LUCY cafe, Okružná 1932/7 Púchov - Lucia Paliesková, Mierová 308/1, 01701 Považská Bystrica, IČO: 51375346' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/luci.png') }}" alt="Obrázok">
                                {% elif 'Pizzeria Luigis, SNP 1952, 017 07 Považská Bystrica - Alexandra Pluskotová, Mládežnícka 324/21, 01701 Považská Bystrica, IČO: 52588114' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/luigispb.png') }}" alt="Obrázok">
                                {% elif 'Lyo fit s. r. o., Cementárenská 3063/31 900 31 Stupava, IČO: 53930037' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/lyopu.png') }}" alt="Obrázok">
                                {% elif 'MB FOOD, s.r.o., Prosné 106 018 01 Udiča, IČO: 52479200' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mb.png') }}" alt="Obrázok">
                                {% elif 'M.K.M gastro s. r. o., Horovce 352, IČO: 55882960' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mkm.png') }}" alt="Obrázok">
                                {% elif 'Obec Nimnica, Nimnica 115, IČO: 00692344' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/obecnimnica.png') }}" alt="Obrázok">
                                {% elif 'MŠ Nimnica, Nimnica 114, IČO: 00692344' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/obecnimnica.png') }}" alt="Obrázok">
                                {% elif 'Pizza Pub, Novonosická 1146/47 Púchov - Ladislav Kožík, Mojmírova 6 Púchov, IČO: 33479160' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/pizzapub.png') }}" alt="Obrázok">
                                {% elif 'Pizzeria FAJN, Sverepec 329, 017 01 Sverepec - Martin Ďurica, 01861 Visolaje 269, IČO: 53146727' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/pizzasverepec.png') }}" alt="Obrázok">
                                {% elif 'Miroslav Pojezdal, Nimnica 390, IČO: 51293013' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/pojezdalpu.png') }}" alt="Obrázok">
                                {% elif 'Ľuboslava Bendžíková - Salaš Pov. Podhradie, Považské Podhradie 285, IČO: 47891343' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/povpodhradie.png') }}" alt="Obrázok">
                                {% elif 'PRIME RESTAURANT, Námestie slobody 1401, 020 01 Púchov, IČO:' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/prime.png') }}" alt="Obrázok">
                                {% elif 'Zina Markovičová - Salaš Nimnica, Nimnica 236, IČO: 34658360' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/salaspu.png') }}" alt="Obrázok">
                                {% elif 'UNI - TECH, s. r. o., Robotnícka 2142/78 Považská Bystrica, IČO: 36357723' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/unitech.png') }}" alt="Obrázok">
                                {% elif 'Zariadenie pre seniorov Považská Bystrica, Lánska 957/32, IČO: 30228271' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zpslanska.png') }}" alt="Obrázok">
                                {% elif 'Slovenská pošta a.s., Centrum vzdelávania Belušské Slatiny 90, IČO: 36631124' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/posta.png') }}" alt="Obrázok">
                                {% elif 'Obec Zliechov - Škola, Zliechov 233, IČO: 00317969' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/zliechov.png') }}" alt="Obrázok">
                                {% elif 'Nikoleta Rónová, 03843 Kláštor pod Znievom A. Moyzesa 44/61 - ČS ORLEN, Vážska 410, 020 01 Streženice, IČO 56220502' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/nronova.png') }}" alt="Obrázok">
                                {% elif 'Gastro Snack s.r.o., Moravská 13 Púchov, IČO: 53805691' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/gastrosnack.png') }}" alt="Obrázok">
                                {% elif 'Café d ́Art s.r.o., Slávičie údolie 10, 811 02 Bratislava - mestská časť Staré Mesto - Zmrzlina Led. Rovne, IČO: 50961667' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/cafedart.png') }}" alt="Obrázok">
                                {% elif 'Róbert Brindza RB AUTO, 01701 Považská Bystrica Rozkvet 2011/28, IČO: 46967796' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/rbauto.png') }}" alt="Obrázok">
                                {% elif 'SAHARA KEBAB s. r. o. Pod Juhom 7666 911 01 Trenčín, prevádzka L. Štúra, 019 01 Ilava IČO: 56291558' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/sahara.png') }}" alt="Obrázok">
                                {% elif 'Podnik technických služieb mesta, s.r.o. ul. Športovcov 890 020 01 Púchov, IČO: 36321893' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/tsmpu.png') }}" alt="Obrázok">
                                {% elif 'Základná škola s materskou školou Jána Smreka, Melčice - Lieskové 377, IČO: 36126594' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/melcice.png') }}" alt="Obrázok">
                                {% elif 'Marcela Chlebanová, 01861 Visolaje 189, prevádzka: 02001 Púchov, Pod Lachovcom 1727, IČO: 54485321' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mchlebanova.png') }}" alt="Obrázok">
                                {% elif 'Spojená škola, I. Krasku 491 Púchov, IČO: 52439585' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/ikrasku.png') }}" alt="Obrázok">
                                {% elif 'DALUG s.r.o., Tulipánová 1801/15 020 01 Púchov, IČO: 55464602' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/dalug.png') }}" alt="Obrázok">
                                {% elif 'Dobros s. r. o. - Púchov, Štefániková 816, IČO: 51441519' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/dobrospu.png') }}" alt="Obrázok">
                                {% elif '1992, s. r. o. Tuchyňa 17 018 55 Tuchyňa, prevádzka: pekáreň KLAS Kvašov, IČO: 53291085' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/klas.png') }}" alt="Obrázok">
                                {% elif 'MŠ Kvašov, Kvašov 16, IČO: 00692387' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mskvasov.png') }}" alt="Obrázok">
                                {% elif 'ELDISY Slovakia spol. s. r. o., Dubnica nad Váhom, IČO: 36657000' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/eldisy2.png') }}" alt="Obrázok">
                                {% elif 'Lenka Juríčková, 01853 Borčice 261, IČO: 55784437' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/cukrarskavyroba.png') }}" alt="Obrázok">
                                {% elif 'Obec Mojtín, 020 72 Mojtín 242, IČO: 00317543' in archive_records[3] %}
                                <img src="{{ url_for('static', filename='images/mojtin.png') }}" alt="Obrázok">
                            {% else %}
                            {% endif %}
                        {% if archive_records[11] != '0' %}
                            <div class="half-width right-align">
                                <p class="medium"><strong>Počet nádob: </strong> {{ archive_records[11] }}</p>
                            </div>
                        {% endif %}
                    </td>
                                      
                </tr>
            </tbody>
        </table>
        
<!-- Tlačidlo na vytlačenie záznamu -->
<button class="no-print" onclick="printPage()">Vytlačiť záznam</button>

<script>
    function printPage() {
        window.print(); // Funkcia na vytlačenie obsahu stránky
    }
</script>